# ----------------------------------------------------------------------
# 環境變數與機密檔案
# ----------------------------------------------------------------------
.env

# ----------------------------------------------------------------------
# 依賴套件 (Dependencies)
# ----------------------------------------------------------------------
node_modules/

# ----------------------------------------------------------------------
# 編輯器與 IDE 設定檔
# ----------------------------------------------------------------------
.vscode/

# ----------------------------------------------------------------------
# 系統自動產生的檔案 (建議加入，避免 Mac/Windows 系統檔案混入)
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
log/
springboot-prod/

build.log